<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>Hola {{user.username}}</p>
        </form>
        <p>Ya puedes acceder a ver todas las publicaciones</p>
        <a href="{% url 'home' %}">Black Box messenger</a>
    
    {% else %}
    <p>Tienes una cuenta</p>
    <a href="{% url 'login' %}">Log In</a>
    <p><a href="{% url 'signup' %}">Sign up</a></p>
    

    {% endif %}
</body>
</html>